.sticky {
	display: block;
	background-color: yellow; // Temporary !!!

	

}
.page {
	margin: 0 0 0;
}
.post {


	padding: 1rem;
	box-shadow: 1rem 1rem 1rem rgba(#000, .5);
	margin: 2rem;
	width: 30vw;
	height: 400px;
	overflow: hidden;
	border: 1px rgba(0, 0, 0, 0.329) solid;background-color: white;
	word-wrap: normal;

	&-content {
		width: 60vw;
	}


}



.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
	
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
