.main-navigation {
	display: block;
	width: 100%;
	background-color: rgb(0, 0, 0);  //temporary
	display: flex;
	justify-content: center; 
	padding: .5rem;   //temporary
	font-size: 1.5rem;  //temporary
	border-bottom: 2px lightgrey solid;
	border-top: 2px lightgrey solid;
	
	ul {
		display: none;
		list-style: none;
		margin: 0;
		//padding-left: 0;
		

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			background-color: black;
			border:2px white solid;
			padding: 1rem;
			

			ul {
				left: -999em;
				top: 0;
			}

			li {
				
				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
					
				}
			}

			a {
				width: 200px;
				
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
				
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
			
		}
	}

	li {
		position: relative;
		padding: 0 1rem;
		
		
		&:hover > a,
		&.focus > a {background-color: lightgrey;border-radius: 3px; color: #000;
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: lightgrey;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		text-decoration: underline;
	}
}

/* Sticky nav */
.sticky-nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	
	&-admin{
		top: 32px;  
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
