.site {
	display: grid;
	grid-template-columns: auto ($size__site-sidebar);
	grid-template-areas:
		"header header"
		"main sidebar"
		"footer footer";
}

.site-header {
	grid-area: header;
	display: grid;
	grid-template-areas: "log"
						  "site-branding"
						   "main-navigation";
	background-color: #dfe3ab;
	.login-bar{
		display: flex;
		justify-content: space-between;
		background-color: #81cdeb73;
		text-align: end;
		padding-right: 3rem;

		&__custom-content {
			padding-left: 6rem;
		}
	}
	
	&-image {
		bottom: 0;
		left: 0;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		z-index: -1;
		height: 25rem;
		transform: translatey(-25px);
	}
	
	.site-branding {
		display: grid;
		grid-template-areas: "logo title theerd";
		grid-template-columns: 33% 33% 33%;
		justify-content: center;
		align-items: center;
		height: 19rem;
		border-bottom: .5rem black solid;
		

		.logo {
			grid-area: logo;
		}

		.title {
			grid-area: title;
			display: flex;
			flex-direction: column;
			padding-top: 6rem;
			
		}

		.title > * {
			justify-content: center;
			align-self: center;
			
		}
		.site-title > a,
		.site-title > a:hover { 
			font-size: 3rem;
			color: #000; 
			text-decoration: none;
		}
		.site-description{
			font-size: 1.5rem;
			margin-top: -1rem;
		}
	}
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
	background-color: #dfe3ab;
	padding: 2rem;
	margin: .5rem 1rem 0 1rem;
	text-align: center;

	&-wraper{
		background-color: transparent;// Temporary !!!

		display: flex;
		flex-wrap: wrap;
	}
}

.widget-area {
	grid-area: sidebar;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: #ebe0b1;
	padding: 2rem;
	margin-top: .5rem;
	overflow: hidden;

	a, a:hover, a:active {
		color: #000;
		text-decoration: none;
	}
	
}

.site-footer {
	grid-area: footer;
	background-color: #000;
	//height: 5rem;
//	padding-bottom: 1rem;
	text-align: center;
	padding: 1rem 0 1.5rem;
	

	.footer-widget {
		background-color: rgb(66, 65, 65);
		//display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-bottom: 1rem;
		margin-top: -.5rem;
	}
}

//@import "no-sidebar";
