.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

.footer-widget > section {
	max-width: 30vw;
	border:  2px solid;
	color: rgba(131, 130, 130, 0.808);
	overflow: hidden;
	
	a, a:hover {
		color: #fff
	}

}
